<p style="color: green"><%= notice %></p>

<h1>Flats</h1>

<div id="flats">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=flat.name%></h5>
        <p class="card-text"><%=flat.address%></p>
        <p class="card-text"><%=flat.description%></p>
        <p class="card-text"><%=flat.price_per_night%></p>
        <p class="card-text"><%=flat.number_of_guests%></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
